/*
 * Global styles
 */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #2b2b2e;
  color: #dedede;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

/*
 * Typography
 */

h1 {
  font-weight: 300;
  font-size: 48px;
  color: white;
}

h2 {
  margin: 0;
  font-weight: normal;
  color: white;
}

a {
  color: white;
}

p, li, a {
  font-weight: 300;
}

/*
 * Leader
 */

.lead-copy {
  width: 290px;
  float: left;
  margin-top: 0;
  padding-right: 25px;
}

/*
 * Modules
 */

.modules div {
  width: 450px;
  margin-top: 50px;
  float: left;
}

#module-service {
  margin-left: 30px;
}

a.btn {
  text-decoration: none;
  display: block;
  width: 120px;
  border: 1px solid #ededed;
  padding: 10px 12px 10px 12px;
  border-radius: 6px;
  margin: 0 auto;
}

a.btn:hover {
  background-color: rgba(255,255,255,0.2);
}

/*
 * Footer
 */
